@model Pokedex.Models.Evolution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evolution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PKMNFromID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PKMNFromID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvolutionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
